<%= render partial: 'form' %>

<div id="preview" style="display:none;">
  <h2><%= t('messages.preview') %></h2>
  <div id="preview-from"></div>
  <div id="preview-subject"></div>
  <div id="preview-email" style="width:600px;border:1px solid #999;padding:10px;"></div>
</div>
